body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.titre{
    text-align: left;
}
header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}
input{
    width: 350px;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.btn{
    width: 100px;
}
li{
    font-size: 25px;
}
.aa{
    margin-left: 200px;
    text-decoration: none;
    color: #4CAF50;
    transition: color 1s;
}
.aaa{
    margin-left: 10px;
    text-decoration: none;
    color: #eb4319;
}
.aab{
    margin-left: 10px;
}
a:hover{
    color: black;
}
.coul2{
    color: black;
}